.main-box{
    display: inline-block;/*Por padrão a div é display block*/
    background-color: #3A4042;
    box-shadow: 10px 10px 0 #000;
    text-align: center;/*Quando se mexe com 
    text-align, você está alterando os filhos 
    e não o elemento em si*/
    padding: 42px 44px;
}

.main-box .main-title{/*Isso está dizendo para ir a class box, pegando TODOS os filhos(por isso o espaçamento) que tem h1*/
    margin-bottom: 28px;
}